<% include _header %>

<div class="jumbotron">
<h3 class="text-center">Welcome to the Voting-App</h3>

<p class="lead text-center">Below are polls hosted by fcc-voting.
Select a poll to see the results and vote, or make a new poll!</p>

<div class="row">
<% polls.forEach(function(poll) { %>
  <div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <a href="/poll/<%= poll._id%>">
        <%= poll.title %>
      </a>
    </div>
    <!-- <div class="panel-body">

    </div> -->
    </div>
  </div>
  <% }) %>
</div>
</div>

<% include _footer%>
