<% include _header %>

<div class="jumbotron">
<h3 class="text-center">Welcome to the Voting-App</h3>

<div class="row">
<% polls.forEach(function(poll) { %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
      <a href="/poll/<%= poll._id%>">
        <%= poll.title %>
      </a>
    </div>
    <div class="text-right">
    <form action="/mypoll/delete/<%=poll._id%>" method="delte">
        <input name="test"type="submit" class="btn btn-danger btn-mini" value="Delete">
    </form>
  </div>
    </div>
</div>
  <% }) %>
</div>
</div>

<% include _footer %>
