<% include _header %>

<div class="jumbotron">
<p class=lead><%= poll.title %></p>
<div class="row">
  <div id="vote" class="col-md-4">
    <h4>I'd like to vote for... :</h4>

      <form action="/poll/vote/<%=poll._id%>" method="post" enctype="application/x-www-form-urlencoded">
        <select class="form-control selectpicker" name="select">
            <option>Choose one...</option>
          <% poll.options.forEach(function (option) { %>
            <option><%= option.val %></option>
              <% }) %>
        </select>
        <br>
        <% if (currentUser) { %>
        <p class="lead">Add new answer:</p>
        <input name="newpoll" type="text" class="form-control" placeholder="New Poll">
        <br>
        <% } %>
        <input id="submit" type="submit" value="Vote" class="btn btn-primary btn-block">
      </form>
      <a class="twitter-share-button"
        href="https://twitter.com/intent/tweet">
        Tweet</a>
      <br>
    </div>
    <div id="chart" class="col-md-8 text-center">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </div>
</div>

<% include _footer_chart %>
